.custom{
    width: 100%;
    height: 80vh;
}
.text-shadow{
    text-shadow: -2px -2px 5px black, 2px -2px 5px black, -2px 2px 5px black, 2px 2px 5px black;
    color: white;
    
}
.text-shadow1{
    text-shadow: 2px 2px 3px white;
    color: black;
    font-weight: 900;
}
@media (max-width: 1024px) {
    .custom {
      height: 35vh;
    }
  }
  
  /* Media query for small screen size (e.g., smartphones) */
  @media (max-width: 600px) {
    .custom {
      height: 25vh;
    }
  }